/* Background image */
.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* Musiquita button */
.button{
    text-align: center;
    margin-top: 250px;
}

.button h1{
    font-size: 30px;
    color: #000000;
    font-weight: 600;
}
/* Musiquita button link */
.button a{
    text-decoration: none;
    display:inline-block;
    color: #b9922e;
    font-size: 24px;
    border: 2px solid #b9922e;
    padding: 14px 70px;
    border-radius: 50;
    margin-top: 30px;
}